h1{
  font-family: 'Diplomata SC', cursive;
}
#myCarousel{
    width: 50%;
    margin: 0 auto;
}
#carouselText{
  font-size: 36px;
  font-family: 'Diplomata SC', cursive;

  -webkit-animation-name: chilleffect; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s;
  animation-name: chilleffect;
  font-size: 60px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes chilleffect{
  0%  {color:#00ffff;}
 25%  {color:#FF00FF;}
 50%  {color:#4B0082;}
 75%  {color:#DAA520;}
 100% {color:#00ffff;}
}
@-webkit-keyframes chilleffect{
  0%  {color:#00ffff;}
  25%  {color:#FF00FF;}
  50%  {color:#4B0082;}
  75%  {color:#DAA520;}
  100% {color:#00ffff;}
}
